<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.oa.hr.mapper.IDepartmentMapper">

	<resultMap id="DepartmentResultMap" type="Department" >
		<id property="no" column="DEPTNO"/>
		<result property="code" column="DEPTCODE"/>
		<result property="name" column="DEPTNAME"/>
	</resultMap>
 
	<insert id="insert" parameterType="Department" keyProperty="no"   keyColumn="DEPTNO"  useGeneratedKeys="true">
	insert into oa_department (DEPTCODE,DEPTNAME) values (#{code},#{name})
 	</insert>
  
 	<update id="update">
 	update  oa_department set DEPTCODE=#{code},DEPTNAME=#{name} where DEPTNO=#{no}
 	</update>
  
	<delete id="delete">
 	delete from oa_department  where DEPTNO=#{no} 
 	</delete>
  
 	<select id="selectByAll"  resultMap="DepartmentResultMap">
 	select *  from oa_department
 	</select>
 	
 	<select id="selectByAllWithPage" resultMap="DepartmentResultMap">
 	select *  from oa_department limit #{start},#{rows}
 	</select>
 	
 	<select id="selectCountByAll" resultType="_int">
 	select count(*)  from oa_department
 	</select>
 
 	<select id="selectByNo"  resultMap="DepartmentResultMap">
 	select * from oa_department where DEPTNO=#{no}
 	</select>
  
</mapper>